[submodule "Lib/SCan"]
	path = Lib/SCan
	url = https://github.com/squadracorsepolito/SCan.git
	branch = build
	[submodule "Lib/LVGL/lvgl"]
	path = Lib/LVGL/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "Drivers/ILI9488"]
	path = Drivers/ILI9488
	url = https://github.com/squadracorsepolito/ILI9488.git
